.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
}
.top-nav {
    height: 150px;
    margin: 0px 0px 10px;
    background-color: green;
}
.side-nav {
    margin-top: 10px;
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-right: 10px;
}

.main,.side-nav{
    display: inline-block;
}
.main {
    margin-top: 10px;
    vertical-align: top;
    height: 400px;
    width: 700px;
    padding: 0px 18px 0px;
    background-color: red;
}
.sub-content {
    margin: 10px;
    display:inline-block;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    margin-left: 1%;
    margin-right: 0px;
    height: 120px;
    width: 660px;
    padding: 0px 10px 0px;
    background-color: purple;
}
